name: Validate Codebase

on:
  workflow_dispatch:

  pull_request:
    branches: ['*']

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install app
        run: npm ci

      - name: Type check
        run: npm run type:check

      - name: Lint app
        run: npm run lint:check

      - name: Prettier app
        run: npm run format:check
